{
  "env": {
    "browser": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "textio-base"
  ],
  "plugins": [
    "react",
    "piggyback",
    "banhammer"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    }
  },
  "globals": {
    "window": false
  },
  "rules": {
    "valid-jsdoc": ["warn", {
      "requireReturn": false
    }],

    "import/no-unresolved": [
      "error", {
        "ignore": [
          "nav",
          "raven"
        ]
      }
    ],

    "padded-blocks": [
      "off"
    ],
    "new-cap": [
      "error", {
        "capIsNewExceptions": [
          "Map"
        ]
      }
    ],
    "no-unused-vars": [
      "warn"
    ],
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "quotes": [
      "warn",
      "backtick"
    ],
    "no-unreachable": [
      "warn"
    ],
    "no-spaced-func": [
      "warn"
    ],
    "prefer-const": [
      "warn"
    ],
    "require-jsdoc": [
      "off"
    ],
    "piggyback/no-restricted-global-extend": [
      "error",
      "window",
      "global"
    ],
    "banhammer/no-restricted-functions": [
      "error",
      "window.getSelection"
    ],
    "no-empty": [
      "warn"
    ],
    "object-curly-spacing": [
      "warn"
    ],
    "eol-last": [
      "warn"
    ],
    "comma-dangle": [
      "warn"
    ],
    "space-infix-ops": [
      "warn"
    ]
  }
}
